<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  {# Google fonts:Indie Flower  #}
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<div class="container">
  {% include 'partials/header1.twig' %}
  {% block content %} {% endblock %}
  {% include 'partials/footer1.twig' %}
</div>
</body>
</html>